# Custom Error Page
ErrorDocument 404 /404.php

# Force www. in URL
#RewriteEngine On
#RewriteCond %{HTTP_HOST} ^*insert web site name here*$
#RewriteRule (.*) http://www.*insert web site name here*.com/$1 [R=301, L]

# Remove .php in URL
#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ $1.php [L,QSA]

Options +FollowSymLinks
IndexIgnore */*
# Turn on the RewriteEngine
RewriteEngine On
#  Rules
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php

Options -Indexes