parameters:
  level: 9
  paths:
    - src
    - tests
  excludePaths:
    analyse:
      - src/Container/LeagueContainer.php
      - src/Middleware/Handlers
      - src/Middleware/Interop.php
      - src/Routing/PhrouteResolver.php
      - tests/Fixture/Middlewares/InteropMiddleware.php
      - tests/Middleware/Multiple/Interop05.php
      - tests/Sample/Handlers/Interop.php
  ignoreErrors:
    - '#^Parameter \#1 \$cookies of method Rougin\\Slytherin\\Sample\\Builder\:\:setCookies\(\) expects array\<string, string\>, array\<mixed\> given\.$#'
    - '#^Parameter \#1 \$files of method Rougin\\Slytherin\\Sample\\Builder\:\:setFiles\(\) expects array\<string, array\<string, array\<mixed\>\>\>, array\<mixed\> given\.$#'
    - '#^Parameter \#1 \$query of method Rougin\\Slytherin\\Sample\\Builder\:\:setQuery\(\) expects array\<string, string\>, array\<mixed\> given\.$#'
    - '#^Parameter \#1 \$parsed of method Rougin\\Slytherin\\Sample\\Builder\:\:setParsed\(\) expects array\<string, string\>, array\<mixed\> given\.$#'
    - '#^Parameter \#1 \$server of method Rougin\\Slytherin\\Sample\\Builder\:\:setServer\(\) expects array\<string, string\>, array\<mixed\> given\.$#'
    - '#^Parameter \#1 \$server of class Rougin\\Slytherin\\Http\\ServerRequest constructor expects array\<string, string\>, array\<mixed\> given\.$#'
    - '#^Property Rougin\\Slytherin\\Template\\Twig\\RendererTest\:\:\$twig has unknown class Twig\\Environment as its type\.$#'
    - '#^PHPDoc tag @var contains unknown class Twig\\Loader\\FilesystemLoader\.$#'
    - '#^Property Rougin\\Slytherin\\Container\\AurynContainer\:\:\$injector has unknown class Auryn\\Injector as its type\.$#'
    - '#^Parameter \$injector of method Rougin\\Slytherin\\Container\\AurynContainer\:\:__construct\(\) has invalid type Auryn\\Injector\.$#'
    - '#^Call to method make\(\) on an unknown class Auryn\\Injector\.$#'
    - '#^Access to constant I_BINDINGS on an unknown class Auryn\\Injector\.$#'
    - '#^Access to constant I_DELEGATES on an unknown class Auryn\\Injector\.$#'
    - '#^Access to constant I_ALIASES on an unknown class Auryn\\Injector\.$#'
    - '#^Access to constant I_PREPARES on an unknown class Auryn\\Injector\.$#'
    - '#^Access to constant I_SHARES on an unknown class Auryn\\Injector\.$#'
    - '#^Call to method inspect\(\) on an unknown class Auryn\\Injector\.$#'
    - '#^Instantiated class Whoops\\Run not found\.$#'
    - '#^Property Rougin\\Slytherin\\Debug\\WhoopsErrorHandler\:\:\$whoops has unknown class Whoops\\Run as its type\.$#'
    - '#^Parameter \$whoops of method Rougin\\Slytherin\\Debug\\WhoopsErrorHandler\:\:__construct\(\) has invalid type Whoops\\Run\.$#'
    - '#^Method Rougin\\Slytherin\\Debug\\WhoopsErrorHandler\:\:getHandlers\(\) has invalid return type Whoops\\Handler\\HandlerInterface\.$#'
    - '#^Call to method getHandlers\(\) on an unknown class Whoops\\Run\.$#'
    - '#^Instantiated class Whoops\\Handler\\PrettyPageHandler not found\.$#'
    - '#^Call to method register\(\) on an unknown class Whoops\\Run\.$#'
    - '#^Parameter \$handler of method Rougin\\Slytherin\\Debug\\WhoopsErrorHandler\:\:setHandler\(\) has invalid type Whoops\\Handler\\HandlerInterface\.$#'
    - '#^Call to method pushHandler\(\) on an unknown class Whoops\\Run\.$#'
    - '#^Instantiated class Zend\\Diactoros\\Response not found\.$#'
    - '#^Property Rougin\\Slytherin\\Middleware\\StratigilityDispatcher\:\:\$zend has unknown class Zend\\Stratigility\\MiddlewarePipe as its type\.$#'
    - '#^Parameter \$pipe of method Rougin\\Slytherin\\Middleware\\StratigilityDispatcher\:\:__construct\(\) has invalid type Zend\\Stratigility\\MiddlewarePipe\.$#'
    - '#^PHPDoc tag @var with type class-string is not subtype of native type ''Zend\\\\Stratigility…''\.$#'
    - '#^Property Rougin\\Slytherin\\Routing\\FastRouteDispatcher\:\:\$fastroute has unknown class FastRoute\\Dispatcher as its type\.$#'
    - '#^Call to method dispatch\(\) on an unknown class FastRoute\\Dispatcher\.$#'
    - '#^Access to constant NOT_FOUND on an unknown class FastRoute\\Dispatcher\.$#'
    - '#^Function FastRoute\\simpleDispatcher not found\.$#'
    - '#^Property Rougin\\Slytherin\\Routing\\FastRouteRouter\:\:\$collector has unknown class FastRoute\\RouteCollector as its type\.$#'
    - '#^Instantiated class FastRoute\\DataGenerator\\GroupCountBased not found\.$#'
    - '#^Instantiated class FastRoute\\RouteCollector not found\.$#'
    - '#^Instantiated class FastRoute\\RouteParser\\Std not found\.$#'
    - '#^Parameter \$collector of anonymous function has invalid type FastRoute\\RouteCollector\.$#'
    - '#^Call to method addRoute\(\) on an unknown class FastRoute\\RouteCollector\.$#'
    - '#^Parameter \$collector of method Rougin\\Slytherin\\Routing\\FastRouteRouter\:\:setCollector\(\) has invalid type FastRoute\\RouteCollector\.$#'
    - '#^Property Rougin\\Slytherin\\Routing\\PhrouteDispatcher\:\:\$collector has unknown class Phroute\\Phroute\\RouteCollector as its type\.$#'
    - '#^Property Rougin\\Slytherin\\Routing\\PhrouteDispatcher\:\:\$dispatcher has unknown class Phroute\\Phroute\\Dispatcher as its type\.$#'
    - '#^Property Rougin\\Slytherin\\Routing\\PhrouteDispatcher\:\:\$items has unknown class Phroute\\Phroute\\RouteDataArray as its type\.$#'
    - '#^Instantiated class Phroute\\Phroute\\Dispatcher not found\.$#'
    - '#^Call to method dispatch\(\) on an unknown class Phroute\\Phroute\\Dispatcher\.$#'
    - '#^Caught class Phroute\\Phroute\\Exception\\HttpRouteNotFoundException not found\.$#'
    - '#^Call to method getMessage\(\) on an unknown class Phroute\\Phroute\\Exception\\HttpRouteNotFoundException\.$#'
    - '#^Class Phroute\\Phroute\\RouteDataArray not found\.$#'
    - '#^Property Rougin\\Slytherin\\Routing\\PhrouteRouter\:\:\$collector has unknown class Phroute\\Phroute\\RouteCollector as its type\.$#'
    - '#^Instantiated class Phroute\\Phroute\\RouteCollector not found\.$#'
    - '#^Call to method addRoute\(\) on an unknown class Phroute\\Phroute\\RouteCollector\.$#'
    - '#^Method Rougin\\Slytherin\\Routing\\PhrouteRouter\:\:asParsed\(\) has invalid return type Phroute\\Phroute\\RouteDataArray\.$#'
    - '#^Call to method getData\(\) on an unknown class Phroute\\Phroute\\RouteCollector\.$#'
    - '#^Parameter \$collector of method Rougin\\Slytherin\\Routing\\PhrouteRouter\:\:setCollector\(\) has invalid type Phroute\\Phroute\\RouteCollector\.$#'
    - '#^Method Rougin\\Slytherin\\Template\\TwigLoader\:\:load\(\) has invalid return type Twig\\Environment\.$#'
    - '#^PHPDoc tag @var with type class-string is not subtype of native type ''Twig_Loader…''\.$#'
    - '#^PHPDoc tag @var with type class-string is not subtype of native type ''Twig_Environment''\.$#'
    - '#^PHPDoc tag @var contains unknown class Twig\\Environment\.$#'
    - '#^Property Rougin\\Slytherin\\Template\\TwigRenderer\:\:\$twig has unknown class Twig\\Environment as its type\.$#'
    - '#^Parameter \$twig of method Rougin\\Slytherin\\Template\\TwigRenderer\:\:__construct\(\) has invalid type Twig\\Environment\.$#'
    - '#^Call to method addGlobal\(\) on an unknown class Twig\\Environment\.$#'
    - '#^Call to method render\(\) on an unknown class Twig\\Environment\.$#'
    - '#^Parameter \#1 \$handler of method Rougin\\Slytherin\\Debug\\WhoopsErrorHandler\:\:setHandler\(\) expects \(callable\(\)\: mixed\)\|Whoops\\Handler\\HandlerInterface, Whoops\\Handler\\PrettyPageHandler given\.$#'
    - '#^Parameter \#1 \$expected of method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) expects class-string<Whoops\\Handler\\PrettyPageHandler>, string given\.$#'
    - '#^Parameter \#1 \$expected of method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) expects class-string<Whoops\\Handler\\CallbackHandler>, string given\.$#'
    - '#^Parameter \#1 \$expected of method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) expects class-string<Phroute\\Phroute\\RouteDataArray>, string given\.$#'
    - '#^Call to an undefined method Rougin\\Slytherin\\IoC\\League\\Container\:\:add\(\)\.$#'
    - '#^Instantiated class Twig_Loader_Filesystem not found\.$#'
    - '#^Instantiated class Twig_Environment not found\.$#'
    - '#^Parameter \#1 \$twig of class Rougin\\Slytherin\\Template\\Twig constructor expects Twig\\Environment, Twig_Environment given\.$#'
    - '#^Instantiated class Auryn\\Injector not found\.$#'
    - '#^Call to static method fromGlobals\(\) on an unknown class Zend\\Diactoros\\ServerRequestFactory\.$#'
    - '#^Parameter \#2 \$response of method Rougin\\Slytherin\\Component\\Collection\:\:setHttp\(\) expects Psr\\Http\\Message\\ResponseInterface, Zend\\Diactoros\\Response given\.$#'
    - '#^Instantiated class Zend\\Stratigility\\MiddlewarePipe not found\.$#'
