parameters:
  reportUnmatchedIgnoredErrors: false
  bootstrapFiles:
    - src/Component/Aliases.php
    - src/Http/Aliases.php
    - src/Container/Aliases.php
  level: 9
  paths:
    - src
    - tests
  excludePaths:
    analyse:
      - src/Middleware/Handlers
      - src/Middleware/Interop.php
      - src/Routing/PhrouteResolver.php
      - tests/Fixture/Middlewares/InteropMiddleware.php
      - tests/Middleware/Multiple/Interop05.php
      - tests/Sample/Handlers/Interop.php
  ignoreErrors:
    - '#^Access to an undefined property Rougin\\Slytherin\\Container\\AurynContainer\:\:\$injector\.$#'
    - '#^Access to constant I_ALIASES on an unknown class Auryn\\Injector\.$#'
    - '#^Access to constant I_BINDINGS on an unknown class Auryn\\Injector\.$#'
    - '#^Access to constant I_DELEGATES on an unknown class Auryn\\Injector\.$#'
    - '#^Access to constant I_PREPARES on an unknown class Auryn\\Injector\.$#'
    - '#^Access to constant I_SHARES on an unknown class Auryn\\Injector\.$#'
    - '#^Access to constant NOT_FOUND on an unknown class FastRoute\\Dispatcher\.$#'
    - '#^Call to an undefined method Rougin\\Slytherin\\Container\\AurynContainer\:\:alias\(\)\.$#'
    - '#^Call to an undefined method Rougin\\Slytherin\\Container\\AurynContainer\:\:share\(\)\.$#'
    - '#^Call to an undefined method Rougin\\Slytherin\\IoC\\Auryn\:\:alias\(\)\.$#'
    - '#^Call to an undefined method Rougin\\Slytherin\\IoC\\Auryn\:\:share\(\)\.$#'
    - '#^Call to an undefined method Rougin\\Slytherin\\IoC\\League\\Container\:\:add\(\)\.$#'
    - '#^Call to function method_exists\(\) with ReflectionMethod and ''hasReturnType'' will always evaluate to true\.$#'
    - '#^Call to method addGlobal\(\) on an unknown class Twig\\Environment\.$#'
    - '#^Call to method addGlobal\(\) on an unknown class Twig_Environment\.$#'
    - '#^Call to method addRoute\(\) on an unknown class FastRoute\\RouteCollector\.$#'
    - '#^Call to method addRoute\(\) on an unknown class Phroute\\Phroute\\RouteCollector\.$#'
    - '#^Call to method dispatch\(\) on an unknown class FastRoute\\Dispatcher\.$#'
    - '#^Call to method dispatch\(\) on an unknown class Phroute\\Phroute\\Dispatcher\.$#'
    - '#^Call to method getData\(\) on an unknown class Phroute\\Phroute\\RouteCollector\.$#'
    - '#^Call to method getHandlers\(\) on an unknown class Whoops\\Run\.$#'
    - '#^Call to method getMessage\(\) on an unknown class Phroute\\Phroute\\Exception\\HttpRouteNotFoundException\.$#'
    - '#^Call to method inspect\(\) on an unknown class Auryn\\Injector\.$#'
    - '#^Call to method make\(\) on an unknown class Auryn\\Injector\.$#'
    - '#^Call to method pushHandler\(\) on an unknown class Whoops\\Run\.$#'
    - '#^Call to method register\(\) on an unknown class Whoops\\Run\.$#'
    - '#^Call to method render\(\) on an unknown class Twig\\Environment\.$#'
    - '#^Call to method render\(\) on an unknown class Twig_Environment\.$#'
    - '#^Call to static method fromGlobals\(\) on an unknown class Zend\\Diactoros\\ServerRequestFactory\.$#'
    - '#^Caught class Phroute\\Phroute\\Exception\\HttpRouteNotFoundException not found\.$#'
    - '#^Class Phroute\\Phroute\\RouteDataArray not found\.$#'
    - '#^Function FastRoute\\simpleDispatcher not found\.$#'
    - '#^Instantiated class Auryn\\Injector not found\.$#'
    - '#^Instantiated class FastRoute\\DataGenerator\\GroupCountBased not found\.$#'
    - '#^Instantiated class FastRoute\\RouteCollector not found\.$#'
    - '#^Instantiated class FastRoute\\RouteParser\\Std not found\.$#'
    - '#^Instantiated class Phroute\\Phroute\\Dispatcher not found\.$#'
    - '#^Instantiated class Phroute\\Phroute\\RouteCollector not found\.$#'
    - '#^Instantiated class Whoops\\Handler\\PrettyPageHandler not found\.$#'
    - '#^Instantiated class Whoops\\Run not found\.$#'
    - '#^Instantiated class Zend\\Diactoros\\Response not found\.$#'
    - '#^Instantiated class Zend\\Stratigility\\MiddlewarePipe not found\.$#'
    - '#^Method Rougin\\Slytherin\\Container\\ContainerInterface\:\:set\(\) invoked with 3 parameters, 2 required\.$#'
    - '#^Method Rougin\\Slytherin\\Debug\\WhoopsErrorHandler\:\:getHandlers\(\) has invalid return type Whoops\\Handler\\HandlerInterface\.$#'
    - '#^Method Rougin\\Slytherin\\Routing\\PhrouteRouter\:\:asParsed\(\) has invalid return type Phroute\\Phroute\\RouteDataArray\.$#'
    - '#^Method Rougin\\Slytherin\\Template\\TwigLoader\:\:load\(\) has invalid return type Twig\\Environment\.$#'
    - '#^Parameter \#1 \$callback of function call_user_func expects callable\(\)\: mixed, array\{ReflectionType, ''isBuiltin''\} given\.$#'
    - '#^Parameter \#1 \$code of method Psr\\Http\\Message\\ResponseInterface\:\:withStatus\(\) expects int, string given\.$#'
    - '#^Parameter \#1 \$data of method Psr\\Http\\Message\\ServerRequestInterface\:\:withParsedBody\(\) expects array\|object\|null, int given\.$#'
    - '#^Parameter \#1 \$data of method Psr\\Http\\Message\\ServerRequestInterface\:\:withParsedBody\(\) expects array\|object\|null, string given\.$#'
    - '#^Parameter \#1 \$handler of method Rougin\\Slytherin\\Debug\\WhoopsErrorHandler\:\:setHandler\(\) expects \(callable\(\)\: mixed\)\|Whoops\\Handler\\HandlerInterface, Whoops\\Handler\\PrettyPageHandler given\.$#'
    - '#^Parameter \#1 \$host of method Psr\\Http\\Message\\UriInterface\:\:withHost\(\) expects string, array given\.$#'
    - '#^Parameter \#1 \$method of method Psr\\Http\\Message\\RequestInterface\:\:withMethod\(\) expects string, array given\.$#'
    - '#^Parameter \#1 \$middleware of class Rougin\\Slytherin\\Middleware\\Callback constructor expects callable\(\)\: mixed, ''stdClass'' given\.$#'
    - '#^Parameter \#1 \$path of method Psr\\Http\\Message\\UriInterface\:\:withPath\(\) expects string, array given\.$#'
    - '#^Parameter \#1 \$query of method Psr\\Http\\Message\\UriInterface\:\:withQuery\(\) expects string, array given\.$#'
    - '#^Parameter \#2 \$response of method Rougin\\Slytherin\\Component\\Collection\:\:setHttp\(\) expects Psr\\Http\\Message\\ResponseInterface, Zend\\Diactoros\\Response given\.$#'
    - '#^Parameter \#3 \$subject of function preg_replace expects array\<float\|int\|string\>\|string, int\<0, 65535\>\|string given\.$#'
    - '#^Parameter \$collector of anonymous function has invalid type FastRoute\\RouteCollector\.$#'
    - '#^Parameter \$collector of method Rougin\\Slytherin\\Routing\\FastRouteRouter\:\:setCollector\(\) has invalid type FastRoute\\RouteCollector\.$#'
    - '#^Parameter \$collector of method Rougin\\Slytherin\\Routing\\PhrouteRouter\:\:setCollector\(\) has invalid type Phroute\\Phroute\\RouteCollector\.$#'
    - '#^Parameter \$handler of method Rougin\\Slytherin\\Debug\\WhoopsErrorHandler\:\:setHandler\(\) has invalid type Whoops\\Handler\\HandlerInterface\.$#'
    - '#^Parameter \$injector of method Rougin\\Slytherin\\Container\\AurynContainer\:\:__construct\(\) has invalid type Auryn\\Injector\.$#'
    - '#^Parameter \$pipe of method Rougin\\Slytherin\\Middleware\\StratigilityDispatcher\:\:__construct\(\) has invalid type Zend\\Stratigility\\MiddlewarePipe\.$#'
    - '#^Parameter \$twig of method Rougin\\Slytherin\\Template\\TwigRenderer\:\:__construct\(\) has invalid type Twig\\Environment\.$#'
    - '#^Parameter \$twig of method Rougin\\Slytherin\\Template\\TwigRenderer\:\:__construct\(\) has invalid type Twig_Environment\.$#'
    - '#^Parameter \$whoops of method Rougin\\Slytherin\\Debug\\WhoopsErrorHandler\:\:__construct\(\) has invalid type Whoops\\Run\.$#'
    - '#^PHPDoc tag @property for property Rougin\\Slytherin\\Container\\AurynContainer\:\:\$injector contains unknown class Auryn\\Injector\.$#'
    - '#^PHPDoc tag @var contains unknown class Phroute\\Phroute\\RouteDataArray\.$#'
    - '#^PHPDoc tag @var contains unknown class Twig\\Environment\.$#'
    - '#^PHPDoc tag @var contains unknown class Twig\\Loader\\FilesystemLoader\.$#'
    - '#^PHPDoc tag @var contains unknown class Whoops\\Handler\\CallbackHandler\.$#'
    - '#^PHPDoc tag @var contains unknown class Whoops\\Handler\\PrettyPageHandler\.$#'
    - '#^PHPDoc tag @var with type class\-string is not subtype of native type ''Twig_Environment''\.$#'
    - '#^PHPDoc tag @var with type class\-string is not subtype of native type ''Twig_Loader…''\.$#'
    - '#^PHPDoc tag @var with type class\-string is not subtype of native type ''Zend\\\\Stratigility…''\.$#'
    - '#^Property Rougin\\Slytherin\\Container\\V1\\AurynContainer\:\:\$injector has unknown class Auryn\\Injector as its type\.$#'
    - '#^Property Rougin\\Slytherin\\Container\\V2\\AurynContainer\:\:\$injector has unknown class Auryn\\Injector as its type\.$#'
    - '#^Property Rougin\\Slytherin\\Debug\\WhoopsErrorHandler\:\:\$whoops has unknown class Whoops\\Run as its type\.$#'
    - '#^Property Rougin\\Slytherin\\Http\\V1\\Uri\:\:\$fragment \(string\) does not accept int\<0, 65535\>\|string\|null\.$#'
    - '#^Property Rougin\\Slytherin\\Http\\V1\\Uri\:\:\$host \(string\) does not accept int\<0, 65535\>\|string\|null\.$#'
    - '#^Property Rougin\\Slytherin\\Http\\V1\\Uri\:\:\$pass \(string\) does not accept int\<0, 65535\>\|string\|null\.$#'
    - '#^Property Rougin\\Slytherin\\Http\\V1\\Uri\:\:\$path \(string\) does not accept int\<0, 65535\>\|string\|null\.$#'
    - '#^Property Rougin\\Slytherin\\Http\\V1\\Uri\:\:\$path \(string\) does not accept string\|null\.$#'
    - '#^Property Rougin\\Slytherin\\Http\\V1\\Uri\:\:\$port \(int\|null\) does not accept int\<0, 65535\>\|string\|null\.$#'
    - '#^Property Rougin\\Slytherin\\Http\\V1\\Uri\:\:\$query \(string\) does not accept int\<0, 65535\>\|string\|null\.$#'
    - '#^Property Rougin\\Slytherin\\Http\\V1\\Uri\:\:\$scheme \(string\) does not accept int\<0, 65535\>\|string\|null\.$#'
    - '#^Property Rougin\\Slytherin\\Http\\V1\\Uri\:\:\$user \(string\) does not accept int\<0, 65535\>\|string\|null\.$#'
    - '#^Property Rougin\\Slytherin\\Http\\V2\\Uri\:\:\$fragment \(string\) does not accept int\<0, 65535\>\|string\|null\.$#'
    - '#^Property Rougin\\Slytherin\\Http\\V2\\Uri\:\:\$host \(string\) does not accept int\<0, 65535\>\|string\|null\.$#'
    - '#^Property Rougin\\Slytherin\\Http\\V2\\Uri\:\:\$pass \(string\) does not accept int\<0, 65535\>\|string\|null\.$#'
    - '#^Property Rougin\\Slytherin\\Http\\V2\\Uri\:\:\$path \(string\) does not accept int\<0, 65535\>\|string\|null\.$#'
    - '#^Property Rougin\\Slytherin\\Http\\V2\\Uri\:\:\$path \(string\) does not accept string\|null\.$#'
    - '#^Property Rougin\\Slytherin\\Http\\V2\\Uri\:\:\$port \(int\|null\) does not accept int\<0, 65535\>\|string\|null\.$#'
    - '#^Property Rougin\\Slytherin\\Http\\V2\\Uri\:\:\$query \(string\) does not accept int\<0, 65535\>\|string\|null\.$#'
    - '#^Property Rougin\\Slytherin\\Http\\V2\\Uri\:\:\$scheme \(string\) does not accept int\<0, 65535\>\|string\|null\.$#'
    - '#^Property Rougin\\Slytherin\\Http\\V2\\Uri\:\:\$user \(string\) does not accept int\<0, 65535\>\|string\|null\.$#'
    - '#^Property Rougin\\Slytherin\\Middleware\\StratigilityDispatcher\:\:\$zend has unknown class Zend\\Stratigility\\MiddlewarePipe as its type\.$#'
    - '#^Property Rougin\\Slytherin\\Routing\\FastRouteDispatcher\:\:\$fastroute has unknown class FastRoute\\Dispatcher as its type\.$#'
    - '#^Property Rougin\\Slytherin\\Routing\\FastRouteRouter\:\:\$collector has unknown class FastRoute\\RouteCollector as its type\.$#'
    - '#^Property Rougin\\Slytherin\\Routing\\PhrouteDispatcher\:\:\$collector has unknown class Phroute\\Phroute\\RouteCollector as its type\.$#'
    - '#^Property Rougin\\Slytherin\\Routing\\PhrouteDispatcher\:\:\$dispatcher has unknown class Phroute\\Phroute\\Dispatcher as its type\.$#'
    - '#^Property Rougin\\Slytherin\\Routing\\PhrouteDispatcher\:\:\$items has unknown class Phroute\\Phroute\\RouteDataArray as its type\.$#'
    - '#^Property Rougin\\Slytherin\\Routing\\PhrouteRouter\:\:\$collector has unknown class Phroute\\Phroute\\RouteCollector as its type\.$#'
    - '#^Property Rougin\\Slytherin\\Template\\Twig\\RendererTest\:\:\$twig has unknown class Twig\\Environment as its type\.$#'
    - '#^Property Rougin\\Slytherin\\Template\\TwigRenderer\:\:\$twig has unknown class Twig\\Environment as its type\.$#'
    - '#^Property Rougin\\Slytherin\\Template\\TwigRenderer\:\:\$twig has unknown class Twig_Environment as its type\.$#'
