<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true"
  failOnPhpunitWarning="false"
  displayDetailsOnPhpunitDeprecations="true"
  displayDetailsOnTestsThatTriggerDeprecations="true"
  displayDetailsOnTestsThatTriggerErrors="true"
  displayDetailsOnTestsThatTriggerNotices="true"
  displayDetailsOnTestsThatTriggerWarnings="true">
  <testsuites>
    <testsuite name="Slytherin Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <!-- For PHP v5.3 to v5.5 -->
  <logging>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
    <log type="coverage-html" target="build/coverage"/>
    <log type="coverage-text" target="build/coverage.txt"/>
  </logging>

  <coverage>
    <!-- For PHP v7.3 to v8.0 -->
    <include>
      <directory suffix=".php">src</directory>
    </include>

    <!-- For PHP v5.3-v5.5, v7.3 and above -->
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <html outputDirectory="build/coverage"/>
      <text outputFile="build/coverage.txt"/>
    </report>
  </coverage>

  <!-- For PHP v8.0 and above -->
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
