<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true"
  failOnPhpunitWarning="false"
  displayDetailsOnPhpunitDeprecations="true"
  displayDetailsOnTestsThatTriggerDeprecations="true"
  displayDetailsOnTestsThatTriggerErrors="true"
  displayDetailsOnTestsThatTriggerNotices="true"
  displayDetailsOnTestsThatTriggerWarnings="true">
  <testsuites>
    <testsuite name="Slytherin Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include> <!-- For PHP 8.0 and above -->
      <directory suffix=".php">src</directory>
    </include>
  </source>
  <coverage>
    <include> <!-- For PHP 8.0 and below -->
      <directory suffix=".php">src</directory>
    </include>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <html outputDirectory="build/coverage"/>
      <text outputFile="build/coverage.txt"/>
    </report>
  </coverage>
</phpunit>
